
<div class="home-banner">
  <div class="image-left">
    <!-- immagine sulla sinistra di banne.jpg -->
    <%= image_tag "banner.png", alt: "Le Wagon", width: 700 %>
  </div>

    <!-- testo con la scritta js che si compone automaticamente  -->
    <span id="banner-typed-text"></span>

<!--   <div class="card">
    card sopra immagine sul bottom destro con shadow
  </div> -->
</div>

  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  <% end %>


