<!-- banner img + js text -->
<div class="page-container">
  <div class="home-banner">
    <div class="image-left">
      <%= image_tag "banner.png", alt: "Le Wagon", width: 700 %>
    </div>


        <div id="typed-strings" >
          <h1 >CREATE YOUR PERFECT COCKTAIL</h1>
        </div>
        <span id="typed" data-turbolinks-permanent class="js-banner-text"></span>

  </div>

  <!-- Card -->
  <div class="cards-box">


  <div class="cards">
  <% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?{drink},{cocktail}<%= (1..10000).to_a.sample %>)">
    <h3><%=cocktail.name%></h3>
  </div>
   <% end %>
   <% end %>
  </div>

  </div>
</div>


