   <div class="navbar-lewagon">
<!--       <%= link_to root_path do %>
        <%= image_tag "logo.jpg", class: "brand", width: 200 %>
      <% end %> -->
      <div class="navbar-lewagon-actions d-none d-sm-flex">
        <%= link_to "Browse cocktail", cocktails_path, class: "btn btn-ghost"  %>
      </div>
      <div class="badge-container navbar-lewagon-actions d-none d-sm-flex">
        <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
      </div>
      <!-- displayed on phone / tablet -->
    </div>

