   <div class="navbar-lewagon">
      <div class="navbar-lewagon-actions d-none d-sm-flex">
        <%= link_to "All cocktails", cocktails_path, class: "btn btn-ghost"  %>
      </div>
      <div class="badge-container navbar-lewagon-actions d-none d-sm-flex">
        <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
      </div>
      <!-- displayed on phone / tablet -->
    </div>

