.home-banner {
  display: flex;
  align-items: center;
  background-size: cover;
  height: 100vh;
  color: black;
  text-align: center;
}

.image-left{
  width: 50%;
}

#banner-typed-text{
  font-size: 50px;
  font-family: inherit;
}



